@value backgroundLight from "@genai-fi/base/css/colours.module.css";

.container {
    display: flex;
    justify-content: center;
}

.canvas {
    margin: 1rem;
    border-radius: 6px;
    background: backgroundLight;
}
