.workspace {
    position: relative;
    flex-grow: 1;
    overflow: auto;
}

.svglayer {
    position: absolute;
    left: 0;
    top: 0;
}

.container {
    width: 300%;
    height: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    overflow: auto;
    gap: 3rem;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
}

.fixed {
    position: fixed;
    bottom: 5%;
    background: white;
    padding: 0.5rem 4rem;
    left: 15%;
    right: 15%;
    box-shadow: 0px 0px 8px #bbb;
    display: flex;
    justify-content: space-between;
}

.fixed button {
    color: rgb(174, 37, 174);
    animation: grow 1s 1;
}

.fixed button:global.Mui-disabled {
    animation: none;
}

.fixed :global .MuiStepIcon-root.Mui-active {
    color: rgb(174, 37, 174);
}

@media only screen and (max-height: 900px), (max-width: 700px) {
    .fixed {
        position: static;
    }
    .svglayer {
        display: none;
    }
    .container {
        width: 100% !important;
        height: auto;
    }
}

.fixed :global .MuiStepper-root {
    max-width: 60%;
    flex-grow: 1;
}

.fixed :global .MuiStepLabel-label {
    font-size: 12pt;
}

@keyframes grow {
    0% {
        transform: scale( 1 );
        background-color: rgba(174, 37, 174,0);
     }
     
     50% {
        transform: scale( 2 );
        background-color: rgba(174, 37, 174, 0.2);
     }
     
     100% {
        transform: scale( 1 );
        background-color: rgba(174, 37, 174,0);
     }
}
