.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    overflow: auto;
    gap: 3rem;
    padding: 1rem;
    box-sizing: border-box;
}
  