.samplelist {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    flex-wrap: wrap;
    max-width: 400px;
    padding: 0.5rem;
    justify-content: start;
    align-content: start;
}

.sample {
    overflow: hidden;
    height: 58px;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.buttoncontainer {
    margin: 1rem;
}

.webcamwindow {
    background: #E8F0FE;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    height: 400px;
    width: 224px;
}

.webcamcontainer {
    overflow: hidden;
    border-radius: 6px;
}

.webcamheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.webcamheader > h2 {
    font-size: 12pt;
    color: #1976d2;
    font-weight: bold;
    margin: 0.2rem;
}

.webcambuttoncontainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.formfield {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}