@value primary from "../../style/colours.module.css";

.listContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.dropOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 14pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.samplelist {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    max-width: 400px;
    padding: 1rem;
    justify-content: start;
    align-content: start;
    margin: 0;
    overflow: auto;
    box-sizing: border-box;
    height: 100%;
}

.samplelistLarge {
    composes: samplelist;
    flex-wrap: wrap;
}

.samplelistSmall {
    composes: samplelist;
    flex-wrap: nowrap;
}

.samplesLabel {
    margin-left: 1rem;
    margin-top: 1rem;
    color: #444;
}

.sample {
    overflow: hidden;
    height: 58px;
    border-radius: 5px;
    flex-shrink: 0;
    position: relative;
}

.sample button {
    padding: 5px 8px;
    flex-direction: column;
}

.sample button :global .MuiButton-startIcon {
    margin: 0;
}

.sampleImage {
    composes: sample;
}

.sampleImage > button {
    display: none;
}

.sampleImage:hover > button {
    display: initial;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.containerSmall {
    composes: container;
}

.containerLarge {
    composes: container;
    height: 400px;
}

.buttoncontainer {
    margin: 1rem;
}

.webcamwindow {
    background: #E8F0FE;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    height: 100%;
    width: 224px;
    box-sizing: border-box;
}

.webcamcontainer {
    overflow: hidden;
    border-radius: 6px;
}

.webcamheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.webcamheader > h2 {
    font-size: 12pt;
    color: primary;
    font-weight: bold;
    margin: 0.2rem;
}

.webcambuttoncontainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.formfield {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}