.container {
    overflow-y: auto;
    height: 100%;
}

.container h1 {
    color: #444;
    font-size: 16pt;
    text-align: center;
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    background: white;
    border-radius: 6px;
    padding: 2rem;
    gap: 1rem;
    margin: 1rem auto;
}

.buttonBar {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    padding-top: 1rem;
    border-top: 1px solid #eee;
    margin-top: 1rem;
}

.advancedTitle {
    font-weight: bold;
    color: #008297;
}
