.sidePanel {
    padding: 2rem;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.spacer {
    height: 2rem;
}