@value primary, primaryHover from "../../style/colours.module.css";

.widget {
    width: 100%;
    max-width: 300px;
}

.container {
    padding: 0;
}

.container :global .MuiToggleButtonGroup-root {
    margin: 1rem;
    width: calc(100% - 2rem);
}

.container h3 {
    font-size: 12pt;
    margin: 0 1rem;
    margin-bottom: 0.5rem;
}

.imageContainer {
    position: relative;
    display: flex;
    margin: 1rem 1rem;
    margin-top: 0;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-start;
    padding-left: 0.5rem;
    border-radius: 6px;
    border: 1px solid white;
}

.imageContainerdrop {
    composes: imageContainer;
    border: 1px dashed primary;
    background-color: primaryHover;
}

.imageContainer > img {
    flex-shrink: 1;
    border-radius: 6px;
    max-width: 58px;
    max-height: 58px;
}

.imageContainerdrop img {
    filter: brightness(0.5);
}

.textContainer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.row {
    display: flex;
    margin: 0.5rem 0;
}

.textContainer :global .MuiToggleButtonGroup-root {
    margin: 0;
}
