@value primary, primaryHover from "@knicos/genai-base/css/colours.module.css";

.widget {
    /*width: 100%;*/
    max-width: 100%;
}

.container {
    padding: 0;
}

.container :global .MuiToggleButtonGroup-root {
    margin: 1rem;
    width: calc(100% - 2rem);
}

.container h3 {
    font-size: 12pt;
    margin: 0 1rem;
    margin-bottom: 0.5rem;
}

.baseContainer {
    position: relative;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    flex-direction: row;
    gap: 0.3rem;
    justify-content: flex-start;
    border-radius: 6px;
    border: 1px solid white;
    min-height: 58px;
    text-wrap: nowrap;
    flex-wrap: wrap;
}

.imageContainer {
    composes: baseContainer;
    padding-bottom: 1rem;
}

.imageContainer > img {
    flex-shrink: 1;
    border-radius: 6px;
    max-width: 58px;
    max-height: 58px;
}

.image {
    position: relative;
}

.audioOptions {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 1rem;
    color: #666;
}

.audio {
    position: relative;
    height: 58px;
    width: 58px;
    border-radius: 4px;
    background: rgba(0, 130, 151, 0.08);
}

.dropImage {
    position: absolute;
    left: 0;
    top: 0;
    color: primary;
    width: 58px;
    height: 58px;
    border-radius: 5px;
    flex-shrink: 0;
    border: 1px dashed primary;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    animation: fade 0.2s ease-in-out;
    background: #e8f0fe;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.textContainer {
    padding: 1rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.row {
    display: flex;
    margin: 0.5rem 0;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.linkRow {
    display: flex;
    margin: 0.5rem;
    gap: 0.5rem;
    color: #666;
    align-items: center;
}

.textContainer :global .MuiToggleButtonGroup-root {
    margin: 0;
    width: initial;
}

.audioTitle {
    margin: 1rem;
    margin-top: 0;
    font-style: italic;
}
