.buttonContainer {
    margin: 1rem;
    display: flex;
    justify-content: stretch;
}

.buttonPrompt {
    composes: buttonContainer;
    animation: prompt 10s infinite;
}

@keyframes prompt {
    0% {
        transform: scale(1);
    }

    3% {
        transform: scale(1.2);
    }

    6% {
        transform: scale(1);
    }
}

.widget {
    width: 280px;
}

.statusContainer {
    margin: 1rem;
}

.trainingProgress :global .MuiLinearProgress-bar {
    transition: none;
}

.formfield {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-top: 1px solid #eee;
}

.advancedTitle {
    font-weight: bold;
    color: #008297;
}
