.buttonContainer {
    margin: 1rem;
    display: flex;
    justify-content: stretch;
}

.widget {
    max-width: 280px;
    width: 100%;
}

.statusContainer {
    margin: 1rem;
}

.formfield {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-top: 1px solid #eee;
}

.advancedTitle {
    font-weight: bold;
    color: #008297;
}