.policy {
    color: #444;
    background: white;
    position: fixed;
    align-items: center;
    gap: 1rem;
    max-width: 200px;
    display: flex;
    font-size: 0.7rem;
    box-sizing: border-box;
    box-shadow: 0 0 6px #ddd;
    overflow: hidden;
}

.bottomLeft {
    bottom: 0;
    left: 0;
    border-top-right-radius: 20px;
    padding-right: 15px;
}

.topRight {
    top: 0;
    right: 0;
    border-bottom-left-radius: 20px;
    padding-left: 15px;
}

.policy a {
    color: #444;
}

.policy a:visited {
    color: #444;
}

.versionBox {
    font-size: 6pt;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 8px;
    background: #444;
    box-sizing: border-box;
}

.bottomLeft .versionBox {
    border-top-right-radius: 20px;
}

.topRight .versionBox {
    border-bottom-left-radius: 20px;
}
