.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background: #222;
    position: relative;
}

.container > :first-child {
    border-radius: 6px;
    overflow: hidden;
}

.controls {
    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    color: white;
}

.volumeContainer {
    display: flex;
    color: white;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    max-width: 250px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.inputContainer canvas {
    width: 58px;
    height: 58px;
    border-radius: 5px;
    overflow: hidden;
}
