@value primary, primaryHover from "../../style/colours.module.css";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 400px;
    flex-grow: 1;
    position: relative;
    background: white;
    transform-origin: top left;
}

.textOverlay {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 5px #666;
    padding: 1rem;
    text-align: center;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    white-space: pre-wrap;
    max-height: 100%;
}

.widget {
    background-color: primary !important;
}

.widget header {
    color: white;
}

.widget header button {
    color: white;
}

.widget > div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.widgetExpanded {
    composes: widget;
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: initial;
    max-height: initial;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.container img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.volumeContainer {
    display: flex;
    background: white;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    border-top: 1px solid #ddd;
}

.deployLink {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 0.2rem 0.6rem;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    float: right;
    gap: 0.5rem;
    background: transparent;
    transition: background 0.3s;
}

.deployLink:hover {
    background: rgba(0, 0, 0, 0.05);
}

.deployLink:visited {
    color: white;
}

.deployLink:active {
    color: white;
}
