.trainingcontainer {
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.containerDisabled {
    composes: trainingcontainer;
    pointer-events: none;
    opacity: 0.5;
}

.trainingcontainer h1 {
    color: #444;
    margin: 0;
}

.containerDisabled h1 {
    color: #444;
    margin: 0;
}
