@value primary, primaryHover from "@knicos/genai-base/dist/colours.module.css";

.widget {
    background: white;
    border-radius: 6px;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px #bbb;
    flex-shrink: 0;
    animation: fadein 0.5s 1;
    box-sizing: border-box;
    border: 1px solid white;
    position: relative;
}

@keyframes fadein {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

.widgetDisabled {
    composes: widget;
    pointer-events: none;
    opacity: 0.5;
}

.widgetActive {
    composes: widget;
    border: 1px dashed primary;
}

.widget_title {
    font-size: 14pt;
    font-weight: bold;
    margin: 0;
}

.widget_header {
    display: flex;
    justify-content: left;
    border-bottom: 1px solid #bbb;
    padding: 0.6rem 1rem;
}

.widget_header input {
    padding: 0.2rem;
    height: initial;
    box-sizing: border-box;
    border: 2px solid transparent;
    cursor: pointer;
    margin-right: 1rem;
}

.widget_header input:focus {
    border: 2px solid primary;
    border-radius: 5px;
    cursor: initial;
}

.widget_header fieldset {
    border: none;
}

.widget_menu {
    flex-grow: 1;
    text-align: right;
}

.widget_content {
    padding: 0;
}

.widget_content > p {
    color: #444;
    font-size: 12pt;
    margin: 1rem 1.4rem;
}
