.widget {
    background: white;
    border-radius: 6px;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px #bbb;
}

.widgetDisabled {
    composes: widget;
    pointer-events: none;
    opacity: 0.5;
}

.widget_title {
    font-size: 14pt;
    font-weight: bold;
    margin: 0;
}

.widget_header {
    display: flex;
    justify-content: left;
    border-bottom: 1px solid #bbb;
    padding: 0.6rem 1rem;
}

.widget_menu {
    flex-grow: 1;
    text-align: right;
}

.widget_content {
    padding: 0;
}

.widget_content > p {
    color: #444;
    font-size: 12pt;
    margin: 1rem 1.4rem;
}