.stepButton {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

@media only screen and (max-width: 700px), (max-height: 770px) {
    .stepButton {
        position: initial;
        width: 100%;
        box-sizing: border-box;
        padding: 1rem 2rem;
        background: white;
        display: flex;
        justify-content: right;
        border-top: 1px solid #ddd;
    }
    .stepButtonHidden {
        display: none;
    }
}

.stepButton button {
    text-transform: none;
    font-weight: bold;
    padding: 0.5rem 2rem;
    gap: 0.5rem;
    animation: grow 1s 2;
    font-size: 14pt;
}

.stepButton button:disabled {
    animation: none;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.stepButtonHidden {
    composes: stepButton;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
}
