.previewContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inputContainer {
    border-radius: 6px;
    overflow: hidden;
    align-self: center;
}

.inputControls {
    margin-top: 0.5rem;
}

.buttonContainer {
    margin: 1rem;
}

.widget {
    max-width: 300px;
    width: 100%;
}

.table {
    border-spacing: 0.5rem;
    margin: 0 0.5rem;
}

.valueCell {
    width: 100%;
}

.labelCell {
    white-space: nowrap;
}
