.outer {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    color: white;
}

.outer.orange {
    background-color: rgba(198, 132, 12, 0.2);
}
.orange.progress {
    background-color: rgb(198, 132, 12);
}

.outer.purple {
    background-color: rgba(167, 81, 201, 0.2);
}
.purple.progress {
    background-color: rgb(167, 81, 201);
}

.outer.blue {
    background-color: rgba(81, 101, 201, 0.2);
}
.blue.progress {
    background-color: rgb(81, 101, 201);
}

.outer.green {
    background-color: rgba(83, 165, 39, 0.2);
}
.green.progress {
    background-color: rgb(83, 165, 39);
}

.outer.red {
    background-color: rgba(219, 73, 29, 0.2);
}
.red.progress {
    background-color: rgb(219, 73, 29);
}

.progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #1976d2;
    transition: width 0.5s;
}

.label {
    position: relative;
    font-weight: bold;
    text-align: right;
    padding: 0.2rem 0.5rem;
    box-sizing: border-box;
    font-size: 12pt;
    transition: width 0.5s;
}
