@value primary, primaryHover from "../../style/colours.module.css";

.container {
    display: flex;
    align-items: center;
}

.canvas {
    cursor: pointer;
    margin: 2px;
}

.canvas:focus {
    border: 2px solid primary;
    margin: 0;
    border-radius: 4px;
}

.dialog {
    margin: 0;
}

.dialog :global .MuiDialog-paper {
    margin: 0;
}

.dialog :global .MuiDialogContent-root {
    padding: 0;
}
