.alert {
    padding: 0.5rem 1rem;
    background: transparent;
    transition: background 0.5s;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.isolated {
    margin: 0.5rem;
    border-radius: 6px;
    padding: 0.5rem;
}

.none {
    composes: alert;
}

.info {
    composes: alert;
    background: rgb(229, 246, 253);
    color: rgb(1, 67, 97);
}

.alert svg {
    color: #0288d1;
}
