.workspace {
    position: relative;
    flex-grow: 1;
    overflow: auto;
}

.svglayer {
    position: absolute;
    left: 0;
    top: 0;
}

.container {
    min-width: 100%;
    min-height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 3rem;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
    width: max-content;
}

.container3 {
    composes: container;
    grid-template-columns: repeat(3, max-content);
}

.container5 {
    composes: container;
    grid-template-columns: repeat(5, max-content);
}

@media only screen and (max-height: 700px), (max-width: 700px) {
    .svglayer {
        display: none;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
}

.column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
