@value primary, primaryHover from "../../style/colours.module.css";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /*width: 305px;*/
    max-width: 100%;
}

.container h1 {
    align-self: flex-start;
    margin: 0;
    color: #444;
}
