.App {
    /*position: absolute;
  top: 0px;
  bottom: 0px;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dee4e8;
}

.AppBar h1 {
    font-size: 16pt;
}

.versionBox {
    position: absolute;
    top: 2px;
    right: 20px;
    color: #eee;
    font-size: 6pt;
}
